* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Calibri, sans-serif;
}

.main {
  margin-bottom: 15px;
}

a {
  text-decoration: underline;
}

a:hover {
  cursor: pointer;
}

button,
input[type="submit"] {
  border: none;
  background: white;
  padding: 6px;
  border: 1px solid #3d75aa;
}

button:hover,
input[type="submit"]:hover {
  cursor: pointer;
}

li {
  padding: 2px 0;
}

.header a {
  text-decoration: none;  
  color: white;
}


.header .nav-links {
  color: coral;
  font-weight: bold;
}
